.footbar {
  width: 100%;
  background-color: purple;
  color: white;
  font-size: x-small;
  text-align: center;
}


@media(min-width:1200px){

  .footbar {
    position: fixed;
    left: 0;
    bottom: 0;
  }
}